@model IEnumerable<SingularStaffOrders.Models.ViewModels.ProductsViewModel>
@{
    ViewBag.Title = "Home Page";
}
<h3>Products </h3>
<div class="form-horizontal">

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-6">
                        <div class="card card-price">
                            <div class="card-img">
                                <a href="@Url.Action("ViewProduct", "Home",new { productId = item.ProductId})">
                                    <img src="~/Images/Mobile/@item.Image" class="img-responsive" style="height: 355px !important;">
                                    <div class="card-caption">
                                        <span class="h2"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="price">R @SingularStaffOrders.Controllers.Helpers.ProductHelper.ConvertToCurrency(item.Price) <small>each</small></div>
                                <div class="lead">
                                    @item.ProductTitle
                                </div>

                                <div class="text-center">
                                    @{ Html.RenderAction("AddToCartAction", "Cart", item); }

                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
            </div>
        </div>
    </div>
</div>