@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="div-container">
        <div class="panel-heading">
            <b>Welcome to the Shopping App</b> 
        </div><!--Div Header-->
        <div class="panel">
            <ul id="menuApp" class="nav navbar-nav">
                <li class="dropdown">
                    <a href="Home"></a>
                </li>
                <li class="dropdown">
                    <a href="Products"></a>
                </li>
                <li class="dropdown">
                    <a href="Staff Member Details"></a>
                </li>
            </ul>
        </div><!--Div Top menu-->

        <div class="panel-body">
        <div class="panel-title">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
            </ul>
            <div class="panel-body">
                frgmergtjnmegrfbe
                wdfcnsdfs fasdsf sd vsd
            </div>
        </div>   
            
            </div> <!--Main div-->
        <div class="panel-footer"></div>
    </div>
</body>